
.trailer{
    padding: 2rem 4rem;
    
}
.MainTitle{
    text-transform: uppercase;  
    color: #AFAFAF;  
    /* color: #ea345e; */
    /* border-left: solid 6px #D69F39; */
    /* border-left: solid 6px purple; */
    
    font-weight: 300;
    padding: 0 10px;
    width: fit-content;

}
.container{
    display: grid;
    align-items: center;
    grid-template-columns: repeat(4,1fr);
    gap: 1rem;
    padding: 1rem;
    /* background-color: #0C0C13; */
    border: solid #4B4B4F 2px;
}
.a{
    display: flex;
    justify-content: space-between;
}
.seeAll{
    border: solid 1px;
    text-decoration: none;
    margin-top: 2.2rem;
    padding: .4rem 1rem;
}
.seeAll:hover, .seeAll:focus{
    background-color: #BA536B;
    color: #27272D;
}
.mainImage{
    /* padding: 1rem; */
    width: 100%;
    height: 100%;
    max-height: 440px;
    border-radius: 1rem;
    border: solid 1px #27272D;
}

.mainImage:hover, .mainImage:focus{
  cursor: pointer;
  opacity: .7;
    
}

@media (max-width:415px){
    .trailer{
        padding: 1rem;
    }
    .container{
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: 100%;
        overflow: hidden;
        margin-top: 3rem;
        height: 220px;
        /* padding: 0; */
        /* border: none; */
    }
    .mainImage{
        height: 200px;
        border-radius: .5rem;
        max-height: 380px;
    }
    .MainTitle{
        margin-bottom: -3.1rem;
    }
}