body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: hsl(240, 67%, 2%);
    /* background: linear-gradient(to right,#02020A,#27272D,#27272D); */
    /* background: linear-gradient(to right,#02020A,#1e1e20,#1a1a1f); */
    color: #DADADA;
}